body {
    text-align:center;
    background-color: #008080;
}
small {
    color: #efeefe;
}
#marq {
   color: #000;
}

.item {
    background-color:#f5f5dc;
    padding:5px;
    margin:2px 0px;
}

img {
    float:left;
    width:150px;
    height:50px;
}
button {
    background-color:#008080;
    border-color:#008080;
}
